{
  "openapi": "3.1.0",
  "info": {
    "title": "Aexaware Infotech Public API & Service Catalog",
    "summary": "Machine-readable API surface, AI discovery endpoints, and content resources for Aexaware Infotech.",
    "description": "Comprehensive OpenAPI specification for Aexaware Infotech (https://aexaware.com). This specification details our public API surface, AI crawler metadata feeds, RFC 9727 API Catalog, Model Context Protocol (MCP) server endpoints, and structured content resources.",
    "termsOfService": "https://aexaware.com/terms",
    "contact": {
      "name": "Aexaware Infotech Support & Inquiries",
      "url": "https://aexaware.com/contact",
      "email": "info@aexaware.com"
    },
    "license": {
      "name": "Proprietary / Open Discovery",
      "url": "https://aexaware.com/privacy-policy"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://aexaware.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "AI & Agent Discovery",
      "description": "Endpoints and files designed for LLMs, autonomous agents, and search crawlers."
    },
    {
      "name": "Metadata & Catalogs",
      "description": "RFC-compliant discovery catalogs, MCP server cards, and sitemaps."
    },
    {
      "name": "Content & Feeds",
      "description": "Public content feeds, blog articles, and service documentation."
    },
    {
      "name": "MCP Server",
      "description": "Model Context Protocol Streamable HTTP server exposing Aexaware tools to Claude, ChatGPT, and autonomous agents."
    },
    {
      "name": "Self-Serve Authentication",
      "description": "Programmatic API key provisioning for developers and autonomous agents."
    },
    {
      "name": "Sandbox Environment",
      "description": "Safe mock endpoints for testing integrations without real-world side effects."
    }
  ],
  "paths": {
    "/api/mcp": {
      "get": {
        "tags": ["MCP Server"],
        "summary": "MCP Server — capability discovery or SSE stream",
        "description": "GET without Accept: text/event-stream returns the server capabilities as JSON. GET with Accept: text/event-stream opens an SSE stream for server-initiated messages (Streamable HTTP transport).",
        "operationId": "mcpGet",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Server capabilities JSON or SSE stream",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "server": { "type": "object" },
                    "protocol": { "type": "string", "example": "2025-03-26" },
                    "transport": { "type": "string", "example": "streamable-http" },
                    "tools_count": { "type": "integer", "example": 6 },
                    "tools": { "type": "array" }
                  }
                }
              },
              "text/event-stream": {
                "schema": { "type": "string", "description": "Server-Sent Events stream" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["MCP Server"],
        "summary": "MCP Server — JSON-RPC 2.0 message handler",
        "description": "Accepts MCP JSON-RPC 2.0 messages (single or batch). Supported methods: initialize, tools/list, tools/call, ping. Supported tools: list_services, list_portfolio, search_blog, get_contact_info, provision_api_key, get_openapi_spec.",
        "operationId": "mcpPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": { "type": "string", "example": "2.0" },
                  "method": { "type": "string", "example": "tools/call" },
                  "params": { "type": "object" },
                  "id": { "type": "integer", "example": 1 }
                },
                "required": ["jsonrpc", "method", "id"]
              },
              "examples": {
                "initialize": { "value": { "jsonrpc": "2.0", "method": "initialize", "params": { "protocolVersion": "2025-03-26", "clientInfo": { "name": "MyAgent", "version": "1.0" }, "capabilities": {} }, "id": 1 } },
                "tools_list": { "value": { "jsonrpc": "2.0", "method": "tools/list", "id": 2 } },
                "call_list_services": { "value": { "jsonrpc": "2.0", "method": "tools/call", "params": { "name": "list_services", "arguments": {} }, "id": 3 } },
                "call_search_blog": { "value": { "jsonrpc": "2.0", "method": "tools/call", "params": { "name": "search_blog", "arguments": { "query": "LLM agents" } }, "id": 4 } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": { "type": "string" },
                    "id": { "type": "integer" },
                    "result": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": ["Metadata & Catalogs"],
        "summary": "Get OpenAPI 3.1.0 Specification in JSON format",
        "description": "Returns the machine-readable OpenAPI specification describing the API surface of Aexaware Infotech.",
        "operationId": "getOpenApiJson",
        "responses": {
          "200": {
            "description": "OpenAPI specification document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/vnd.oai.openapi+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/keys/provision": {
      "post": {
        "tags": ["Self-Serve Authentication"],
        "summary": "Programmatically provision a free sandbox API key",
        "description": "Instantly generates an ephemeral sandbox API key for autonomous AI agents and developers. Zero credit card or sales form required.",
        "operationId": "provisionApiKey",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_name": { "type": "string", "example": "ClaudeAgent" },
                  "client_email": { "type": "string", "example": "agent@example.com" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key successfully provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "api_key": { "type": "string", "example": "aex_free_8f93e1b742a0d9e2" },
                    "tier": { "type": "string", "example": "developer_free_trial" },
                    "monthly_quota": { "type": "integer", "example": 10000 },
                    "rate_limit": { "type": "string", "example": "120 req/min" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inquiry/sandbox": {
      "post": {
        "tags": ["Sandbox Environment"],
        "summary": "Simulate a project inquiry submission in test sandbox",
        "description": "Enables agents to test inquiry submissions without triggering real-world emails or sales contacts.",
        "operationId": "submitSandboxInquiry",
        "responses": {
          "200": {
            "description": "Sandbox inquiry response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "environment": { "type": "string", "example": "sandbox" },
                    "message": { "type": "string", "example": "Sandbox request executed successfully." }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.yaml": {
      "get": {
        "tags": ["Metadata & Catalogs"],
        "summary": "Get OpenAPI 3.1.0 Specification in YAML format",
        "description": "Returns the machine-readable OpenAPI specification in YAML format.",
        "operationId": "getOpenApiYaml",
        "responses": {
          "200": {
            "description": "OpenAPI YAML document",
            "content": {
              "application/yaml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/yaml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "tags": ["AI & Agent Discovery"],
        "summary": "Get LLMs.txt site overview",
        "description": "Returns a concise, structured markdown file providing an overview of Aexaware Infotech, its 19 specialized services, portfolio, and contact details for LLMs and AI agents.",
        "operationId": "getLlmsTxt",
        "responses": {
          "200": {
            "description": "Standard LLMs.txt document",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "tags": ["AI & Agent Discovery"],
        "summary": "Get full LLMs.txt comprehensive content",
        "description": "Returns an expanded markdown document containing comprehensive information about all company offerings, case studies, and engineering blog posts.",
        "operationId": "getLlmsFullTxt",
        "responses": {
          "200": {
            "description": "Full LLMs.txt document",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "tags": ["Metadata & Catalogs"],
        "summary": "RFC 9727 API Catalog",
        "description": "Machine-readable Linkset discovery document pointing to service documentation and API descriptions across the site.",
        "operationId": "getApiCatalog",
        "responses": {
          "200": {
            "description": "Linkset JSON document",
            "content": {
              "application/linkset+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linkset": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "tags": ["Metadata & Catalogs"],
        "summary": "Model Context Protocol (MCP) Server Card",
        "description": "Returns the MCP Server Card describing server capabilities, tools, resources, and prompt endpoints.",
        "operationId": "getMcpServerCard",
        "responses": {
          "200": {
            "description": "MCP Server Card JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serverInfo": { "type": "object" },
                    "transport": { "type": "object" },
                    "capabilities": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "tags": ["Metadata & Catalogs"],
        "summary": "Agent Skills Directory",
        "description": "Returns the registry of capabilities, tools, and skills available for AI agent workflows.",
        "operationId": "getAgentSkills",
        "responses": {
          "200": {
            "description": "Agent skills index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "tags": ["AI & Agent Discovery"],
        "summary": "AI & Agent Permissions and Usage Policy",
        "description": "Returns the authorization and licensing policy for AI agents, crawlers, and researchers.",
        "operationId": "getAuthDoc",
        "responses": {
          "200": {
            "description": "Markdown authorization policy",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap-index.xml": {
      "get": {
        "tags": ["Content & Feeds"],
        "summary": "XML Sitemap Index",
        "description": "Returns the primary XML Sitemap index linking to all indexed pages, services, portfolio items, and blog articles.",
        "operationId": "getSitemapIndex",
        "responses": {
          "200": {
            "description": "XML Sitemap Index",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rss.xml": {
      "get": {
        "tags": ["Content & Feeds"],
        "summary": "Engineering Blog RSS Feed",
        "description": "Returns the latest technical articles, engineering updates, and tutorials published by Aexaware Infotech.",
        "operationId": "getRssFeed",
        "responses": {
          "200": {
            "description": "RSS 2.0 XML Feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
